.apresentatitle{
    border: 0.2rem solid black;
    width: 15rem;
    background-color: rgb(56, 144, 113);
    position: relative;
    left: 20%;
    top: 25rem;
}
.title{
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}
.subtitle{
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
}
.armasdegel{
    border: 1rem solid rgb(56, 144, 113);
    width: 30rem;
    position: relative;
    left: 55rem;
}